<section>
  <h5>1. Принятие соглашения</h5>
  <p>1.1. Пользуясь сайтом lambda-search.ru (далее — «Сайт»), Пользователь подтверждает своё согласие с настоящим Соглашением.</p>
  <p>1.2. Если Пользователь не согласен с условиями Соглашения, он обязан прекратить использование Сайта.</p>

  <h5>2. Сбор и обработка персональных данных</h5>
  <p>2.1. Для доступа к определённым функциям Сайта Пользователь может предоставлять следующую информацию:</p>
  <ul>
      <li>Адрес электронной почты</li>
      <li>Имя и фамилию</li>
      <li>Логин</li>
      <li>Фото (аватар)</li>
  </ul>
  <p>2.2. Персональные данные обрабатываются в соответствии с Федеральным законом «О персональных данных» № 152-ФЗ от 27 июля 2006 года.</p>
  <p>2.3. Цели сбора персональных данных:</p>
  <ul>
      <li>Регистрация и авторизация Пользователя</li>
      <li>Повышение качества услуг или обратная связь</li>
      <li>Отправка оповещений или рассылок</li>
  </ul>
  <p>2.4. Пользователь имеет право в любой момент запросить проверку, обновление или удаление своих данных, направив запрос на адрес технической поддержки.</p>

  <h5>3. Ответственность и ограничение ответственности</h5>
  <p>3.1. Администрация не несёт ответственности за ущерб, причинённый в результате недобросовестного или неправомерного действия третьих лиц.</p>

  <h5>4. Изменения Соглашения</h5>
  <p>4.1. Администрация вправе вносить изменения в данное Соглашение в одностороннем порядке. Обновленная редакция вступает в силу с момента её публикации на Сайте.</p>

  <h5>5. Контакты Оператора</h5>
  <p>По всем вопросам, связанным с данным Соглашением, можно связаться через электронную почту: lambda-search@yandex.ru.</p>
</section>
