<section>
  <h5>1. Acceptance of the Agreement</h5>
  <p>1.1. By using the website lambda-search.ru (hereinafter referred to as the \"Website\"), the User confirms their agreement with this Agreement.</p>
  <p>1.2. If the User does not agree with the terms of this Agreement, they must stop using the Website.</p>

  <h5>2. Collection and Processing of Personal Data</h5>
  <p>2.1. To access certain functions of the Website, the User may provide the following information:</p>
  <ul>
      <li>Email address</li>
      <li>First and last name</li>
      <li>Username</li>
      <li>Photo (avatar)</li>
  </ul>
  <p>2.2. Personal data is processed in accordance with the Federal Law \"On Personal Data\" No. 152-FZ dated July 27, 2006.</p>
  <p>2.3. The purposes of collecting personal data:</p>
  <ul>
      <li>Registration and authorization of the User</li>
      <li>Improvement of services or feedback</li>
      <li>Sending notifications or newsletters</li>
  </ul>
  <p>2.4. The User has the right to request verification, updating, or deletion of their data at any time by sending a request to the support service.</p>

  <h5>3. Liability and Limitation of Liability</h5>
  <p>3.1. The Administration is not responsible for damage caused by dishonest or unlawful actions of third parties.</p>

  <h5>4. Changes to the Agreement</h5>
  <p>4.1. The Administration reserves the right to make changes to this Agreement unilaterally. The updated version comes into force from the moment it is published on the Website.</p>

  <h5>5. Operator Contacts</h5>
  <p>For all questions related to this Agreement, you can contact us via email: lambda-search@yandex.ru.</p>
</section>
