<!DOCTYPE html>
<html lang="ru" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">

    <title>
    {% block title %}
    Lambda Search
    {% endblock %}
    </title>

    

    {% load static %}

    <script src="{% static 'js/themeToggler.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">  
    <link rel="stylesheet" href="{% static 'css/lambda_theme.css' %}">
    <link rel="icon" type="image/ico" href="{% static 'favicons/favicon.ico' %}">

  </head>
  <body class="lambda-bg wrapper">
    
    {% include "includes/header.html" %}
    

    <main>
      <div class="container-md my-2">
        {% block content %}
        <div class="d-flex justify-content-center">
          <div class="m-5 spinner-border" role="status"/>
        </div>
        {% endblock %}
      </div>
    </main>

    
    {% include "includes/footer.html" %}
    
  </body>
</html>
