<!DOCTYPE html>
<html lang="ru" data-bs-theme="auto">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>
    {% block title %}
    Lambda Search
    {% endblock %}
    </title>

    

    {% load static %}

    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/themeToggler.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/lambda_theme.css' %}">
    <link rel="icon" type="image/png" href={% static "favicons/favicon-96x96.png" %} sizes="96x96">
    <link rel="icon" type="image/svg+xml" href={% static "favicons/favicon.svg" %}>
    <link rel="shortcut icon" href={% static "favicons/favicon.ico" %}>
    <link rel="apple-touch-icon" sizes="180x180" href={% static "favicons/apple-touch-icon.png" %}>
    <meta name="apple-mobile-web-app-title" content="λ-search">
    <link rel="manifest" href={% static "favicons/site.webmanifest" %}>
  </head>
  <body class="lambda-bg wrapper">
    
    {% include "includes/header.html" %}
    

    <main>
      {% block content %}
      <div class="d-flex justify-content-center">
        <div class="m-5 spinner-border" role="status"/>
      </div>
      {% endblock %}
    </main>

    
    {% include "includes/footer.html" %}
    
  </body>
</html>
