{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
  <div class="d-flex justify-content-center align-items-center">
    <div class="card lambda-secondary rounded rounded-5">
      <div class="card-body">
        <div class="col">
          <h2>{% trans "Пароль успешно изменён" %}</h2>
          <p>{% trans "Ваш пароль был успешно обновлен." %}В</p>
          <p><a href="{% url 'users:profile' %}">{% trans "Вернуться в профиль" %}</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
