{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% trans "Password Reset" %}
{% endblock title %}

{% block content %}
<div class="container-md mt-5">
  <div class="d-flex justify-content-center align-items-center">
    <div class="card lambda-secondary rounded rounded-5 lambda-login mt-5">
      <div class="card-body">
        <div class="col">

          <p class="text-center h2 mx-1 mt-4">{% trans "Password Reset" %}</p>

          <p class="text-center mx-1 mt-2">{% trans "Enter your email address and we will send you instructions to reset your password." %}</p>

          <div class="mx-1 mx-md-4">
          {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} message text-center" role="alert">
              {{ message }}
            </div>
            {% endfor %}
          {% endif %}
          </div>

          <form method="post" class="mx-1 mx-md-4 mt-4">
            {% csrf_token %}

            <div class="mb-4">
              <label for="id_email" class="form-label">{{ form.email.label }}</label>
              <input type="email" id="id_email" name="email" class="form-control" required>
              {% for error in form.email.errors %}
                <div class="text-danger">{{ error }}</div>
              {% endfor %}
            </div>

            <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
              <button type="submit" class="btn lambda-primary lambda-btn btn-lg">{% trans "Send" %}</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
