{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block content %}
<div class="container-md mt-5">
  <div class="d-flex justify-content-center align-items-center">
    <div class="card lambda-secondary rounded rounded-5 lambda-login mt-5">
      <div class="card-body">
        <div class="col">
          <div class="alert alert-success message text-center" role="alert">
            {% trans "Ваш пароль успешно изменён" %}
          </div>
          <div class="row justify-content-center">
            <a class="col-5 btn lambda-btn lambda-primary btn-lg" href="{% url "homepage:homepage" %}">
              {% trans "На главную" %}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
