{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container mt-5">
  <div class="d-flex justify-content-center align-items-center">
    <div class="card lambda-secondary rounded rounded-5">
      <div class="card-body", style="width: 30rem;">
        <div class="col">
          <h2>{% trans "Пароль успешно восстановлен" %}</h2>
          <p>{% trans "Ваш пароль был успешно сброшен. Теперь вы можете войти с новым паролем." %}</p>
          <p><a href="{% url 'users:login' %}">{% trans "Войти" %}</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
