{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="text-white">
  <h2>{% trans "Регистрация" %}</h2>
  <form method="post" class="form-control bg-black p-3 text-white">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% trans "Зарегистрироваться" %}</button>
  </form>
  <p>{% trans "Уже есть аккаунт?" %} <a href="{% url 'users:login' %}">{% trans "Войти" %}</a></p>
</div>

{% if messages %}
  <div class="messages">
    {% for message in messages %}
    <div
    class="alert alert-{{ message.tags }} text-white bg-black border-white message text-center"
    role="alert"
    >
    {{ message }}
  </div>
  {% endfor %}
{% endif %}
</div>
{% endblock %}
