{% load static %}
{% load i18n %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'homepage:homepage' %}">Lyceum</a>
        <img src={% static 'img/logo.png' %} alt="Logo" width="80" height="50" class="d-inline-block align-text-top">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    {% with request.resolver_match.view_name as view_name %}
                        {% if view_name == "homepage:homepage" %}
                            <span class="nav-link active">{% trans "Главная" %}</span>
                        {% else %}
                            <a class="nav-link" href="{% url 'homepage:homepage' %}">{% trans "Главная" %}</a>
                        {% endif %}
                    {% endwith %}
                </li>
                <li class="nav-item">
                    {% if view_name == "users:profile" %}
                        <span class="nav-link active">{% trans "Профиль" %}</span>
                    {% else %}
                        <a class="nav-link" href="{% url 'users:profile' %}">{% trans "Профиль" %}</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>