{% load i18n %}
<table class="search-table table table-bordered mt-3">
    <thead>
      <tr>
        <th>{% trans "Ресурс" %}</th>
        <th>{% trans "История утечки" %}</th>
        <th>{% trans "Данные" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for result in query.result %}
      <tr>
        <td>{{ result.database }}</td>
        <td>{{ result.history }}</td>
        <td>
          {% include "includes/search_result.html" %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>