{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block content %}
  <div class="container text-center my-3">
    <h1>{{ title }}</h1>
  </div>
  <div class="container-md">
    <section class="mb-4">
      <h2>{% trans "О проекте" %}</h2>
      <p>
        {% trans "Lambda Search — это инструмент, который помогает пользователям узнать, были ли их данные скомпрометированы в результате утечек. Мы стремимся сделать проверку удобной, безопасной и полезной для всех. Наш сервис позволяет анализировать такие данные, как электронная почта, номера телефонов, пароли, и многое другое." %}
      </p>
    </section>

    <section class="mb-4">
      <h2>{% trans "Команда" %}</h2>
      <ul>
        <li>{% trans "Павел" %}</li>
        <li>{% trans "Тимофей" %}</li>
        <li>{% trans "Максим" %}</li>
      </ul>
      <p>
        {% trans "Наша команда работает над созданием сервиса, который станет доступным и актуальным для российских пользователей." %}
      </p>
    </section>

    <section class="mb-4">
      <h2>{% trans "Используемые технологии" %}</h2>
      <ul>
        <li>{% trans "Django" %}</li>
        <li>{% trans "PostgreSQL" %}</li>
        <li>{% trans "Docker" %}</li>
      </ul>
      <p>
        {% trans "Мы применяем современные технологии для обеспечения надежности и производительности сервиса." %}
      </p>
    </section>

    <section class="mb-4">
      <h2>{% trans "Перспективы" %}</h2>
      <p>
        {% trans "В будущем мы планируем добавить больше баз данных, улучшить интеграцию с другими сервисами и внедрить функции интеллектуального поиска утечек с использованием искусственного интеллекта." %}
      </p>
    </section>
    <a href="{% url "about:terms" %}" class="mt-5">{% trans "User Agreement Terms" %}</a>
  </div>
{% endblock %}
