{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
  {{ title }}
{% endblock title %}

{% block content %}
  <div class="container text-center my-3">
      <h1>{{ title }}</h1>
  </div>
  <div class="container-md">
    <p>
        {% trans "Наш сервис позволяет вам быстро и удобно проверить, были ли ваши личные данные слиты в общедоступные базы данных. Мы заботимся о вашей приватности и никогда не отображаем полные данные пользователей." %}
    </p>
    <p>
        {% trans "Мы используем только современные технологии шифрования для хранения и обработки данных. Даже в случае кражи баз данных, получить доступ к информации будет невозможно." %}
    </p>
    <p>
        {% trans "Все соединения осуществляются по защищенному протоколу TLS, избегая перехвата данных." %}
    </p>
    <div class="text-center mt-4">
        <a class="btn btn-primary btn-lg" href="{% url "search:search" %}">
            {% trans "Проверить свои данные" %}
        </a>
    </div>
  </div>
{% endblock %}